/* Login Screen */
.kar-login-sprite-user-login, .kar-login-sprite-form-submit-btn
{ display: inline-block; background: url('../../assets/icons/login-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.kar-login-sprite-user-login { background-position: -2px -0px; width: 108px; height: 97px; }
.kar-login-sprite-form-submit-btn { background-position: -2px -99px; width: 97px; height: 97px; }
/* Login Screen END */

.kar-login-page {
    position: relative;
    font-family: HelveticaNeueLT-Medium !important;}
    .kar-login-page-top-container {
        height: calc(100vh - 13.69rem);
        background-color: #009bef;}
        .kar-login-page-top-container-context {
            position: absolute;
            font-size: 2.688rem;
            color: #ffffff;
            top: 5.188rem;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(0%);
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
    
        .kar-login-page-bottom-container {
        height: 13.69rem;
        background-color: #ffffff;
    }
    .kar-login-form-container {
        position: absolute;
        border-radius: 1rem;
        min-height: 355px;
        
        width: 435px;
        background: #ffffff;
        padding: 5.063rem 5.188rem;
        top: 12.13rem;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(0%);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);}
        .kar-login-form-header-icon {
            position: absolute;
            top: -10%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(0%);
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
        .kar-login-form-submit-icon {
            position: absolute;
            top: 89%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(0%);
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);}
            .kar-login-form-submit-icon>button {
                background: transparent;
                border: 0;
                outline: none;
                cursor: pointer;
            }
        
        .kar-login-form {
            color: #949394;}
            .kar-login-form-password {
                background: url(../../assets/icons/password.png) 7px 7px no-repeat;
                padding: 0 2.5rem;
            }
            .kar-login-form-view-password {
                position: absolute;
                right: 0;
                top: 45%;
                background: url(../../assets/icons/eye.png) 7px 7px no-repeat;
                padding: 1rem;
            }
            .kar-login-form-rememberme,
            .kar-login-form-forgot-password {
                font-size: 0.875rem;
            }
            .kar-login-form-password-container {
                position: relative;
            }
            .kar-login-form-separator {
                margin: 1rem 4.063rem;
            }
            .kar-login-form-register-context {
                font-size: 0.875rem;
            }
            .kar-login-form-invalid-user {
                font-size: 0.875rem;
                color: #d01437;
                padding: 0.5rem;
            }
            #kar-login-form-username,
            #kar-login-form-password {
                font-size: 0.875rem;
                color: #949394;
                width: 100%;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 5px;
                margin: 10px 0 10px 0;
                border-radius: 0.25rem;
                }
                .form-group{
                    text-align: left;
                }
                label{
                    margin:0 0 5px 0;
                }
            /* a {
                color: #009bef;
                &:hover {
                    text-decoration: none;
                }
            } */
            *, :after, :before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }